button.pom-nve-btn-primary {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  margin: 0.3em;
  margin-right: 0;
}

button.pom-nve-btn-secondary {
  margin-top: 15px;
  margin-right: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #6c757d;
  border: #ffc107 0.3em solid;
}

.pom-nve-top {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.3rem;
  background-color: #d0d0d0;
  border: #ffc107 0.3em solid;
}

.pom-nve-disclaimer {
  font-size: 0.8em;
}

.pom-nve-btn-wrapper {
  margin: 0 0.5em;
  display: inline-block;
}
.pom-nve-btn-remove {
  margin-left: -0.3em;
  background: none;
  border: none;
  vertical-align: super;
  color: #fff;

  font-size: 0.8em;
}

.pom-nve-div-fillInner {
  display: flex;
  flex-wrap: wrap;
}

.pom-nve-btn-clearall {
  font-size: 0.8em;
  margin: 0.3em;
  margin-left: auto;
}
